body {
  margin: 0;
  /* overflow: hidden; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.tick text {
  font-size: 1.5em;
  fill: #635f5d;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  font-size: 2.5em;
  fill: #8e8883;
}

.title {
  font-size: 1.3rem;
  fill: #635f5d;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: red;
  animation: spinner 0.6s linear infinite;
  padding: 5%;
  background-color: white;
}
